/*h1 {
	color: red;
	border: 2px solid green;
	border: 1px dashed gray;
}
h3 {
	color: rgba(200, 100, 50, 0.8);
	background: purple;
	text-decoration: dashed;
}*/
body {
	/*background: url(NSEC-Logo.png);*/
	background: pink;
	/*background-size: cover;
	background-repeat: no-repeat;*/
	/*box-sizing: border-box;*/
}
/*div	{
	background: orange;
	display: inline-block;
}*/

input [type="text"] {
	background: pink;
	border: 2px solid green;
	text-decoration: underline;
}
li:nth-of-type(even) {
	background: orange;
	text-decoration: dashed;
}
/*h3 + ul {
	background: rgba(150, 20, 31, 0.5);
}
*/