body	{
	max-width: 700px;
	width: 80%; 
	margin: 10px auto;
	border: 18px solid #B7AD99;
	font-family: 'Source Sans Pro', sans-serif;
	padding: 20px;
}
.heading {
	color: #E28413;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 0.2rem;
}
.special {
	border-left: 8px solid #B7AD99;
	padding-left: 5px;
}
h2 {
	text-transform: capitalize;
	color: #233D4D;
	font-size: 2rem;
}
hr {
     height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}
.post {
	margin-bottom: 20px;
}